html
head
  title welcome
  body(style="font-family: monospace;background: radial-gradient(blanchedalmond, transparent);")
    h1 Welcome
    if userId && user
        a(href='/home') Home
        form(method='POST' action='/logout')
            button Logout 
    else 
        a(href='/login') Login
        br
        a(href='/register') Register

